archive/ 
_unsloth_sentencepiece_temp/ 
wandb/ 
dir/ 
llama.cpp/ 
Llama1B/ 
merged_model/ 
out/ 
outputs/
unsloth_compiled_cache/ 




Llama-3.2-1B-Instruct-Uncensored/ 
llama.cpp/ 
quantized_model/
setup_pi.sh
set_user.sh